<% include ../partials/header.ejs %>



<div class="container-fluid text-center">


    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>Parhaiten arvostellut juomat</h2>
            </div>
        </div>
        <div class="row">

            <% bestDrinks.forEach(function(juoma) {   %>

            <div class="col-sm-3 col-xs-6 lessWhiteSpace">
                <div class="juoma-category">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12">
                                <img class="catalog-img" src="https://images.alko.fi/images/t_medium,f_auto/cdn/<%=juoma.numero%>/<%=juoma.nimi.replace(/ /g,"-")%>.jpg">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 catalog-text-content">
                                <p class="catalog-title"><a href="/juomat/satunnainen/<%=juoma._id%>"><%= juoma.nimi %></a></p>
                                <p class="catalog-price"> <span class="text-big"><%= (juoma.hinta/100).toFixed(2) %></span>e</p>
                                <p class="catalog-proof"><%= juoma['alkoholi-%'] %>% </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% });  %>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>Katsotuimmat juomat</h2>
            </div>
        </div>
        <div class="row">

            <% viewedDrinks.forEach(function(juoma) {   %>

            <div class="col-sm-3 col-xs-6 lessWhiteSpace">
                <div class="juoma-category">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12">
                                <img class="catalog-img" src="https://images.alko.fi/images/t_medium,f_auto/cdn/<%=juoma.numero%>/<%=juoma.nimi.replace(/ /g,"-")%>.jpg">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 catalog-text-content">
                                <p class="catalog-title"><a href="/juomat/satunnainen/<%=juoma._id%>"><%= juoma.nimi %></a></p>
                                <p class="catalog-price"> <span class="text-big"><%= (juoma.hinta/100).toFixed(2) %></span>e</p>
                                <p class="catalog-proof"><%= juoma['alkoholi-%'] %>% </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% });  %>
        </div>
    </div>
</div>




<% include ../partials/footer.ejs %>